<h2>タイトル</h2>
<p><%= @list.title %></p>

<h2>本文</h2>
<p><%= @list.body %></p>

<h2>画像</h2>
<% if @list.image.attached? %>
  <%= image_tag @list.image, size: "300*300" %>
<% else %>
  <%= image_tag 'no_image', size: "300*300" %>
 <% end %>

<%= link_to "編集", edit_list_path(@list.id) %>
<%= link_to "削除", destroy_list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>